h1{
    text-align: center;
    color: rgb(255, 255, 255);
    border-color: #000000;
}
p{
    text-align: center;
}
    footer{
        text-align: center;
    }
    footer {
        background-color: #979797;
        color: #fff;
        padding: 30px;
        text-align: center;
    }
   
    footer a {
        color: #ffcc00;
        text-decoration: none;
    }
   
    footer a:hover {
        text-decoration: underline;
    }
    header{
        background-color: #979797;
        color: #fff;
        padding: 30px;
        text-align: center;
    }
    a{
        color: #000000;
        text-align: center;
    }
    .caixa {
        background-color: rgba(240, 240, 240, 0.8);
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        margin: 20px 0;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #000000;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
   
    .button:hover {
        background-color: #000000;
    }
    h3{
        text-align: center;
    }
    .caixa2 {
        color: white;
        text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
    }
    .caixa3 {
        color: white;
        text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
    }
